# automake, autoconf, autoheader and libtool files
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
.libs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.Plo
*.Po

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
