# automake, autoconf, autoheader and libtool files
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
.libs/
*.pc
*.tar.xz

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.Plo
*.Po
demo/demo
tutorial/background
tutorial/listbox
tutorial/load
tutorial/nomenus
tutorial/splash
tutorial/tvedit
tutorial/tvguid01
tutorial/tvguid02
tutorial/tvguid03
tutorial/tvguid04
tutorial/tvguid05
tutorial/tvguid06
tutorial/tvguid07
tutorial/tvguid08
tutorial/tvguid09
tutorial/tvguid10
tutorial/tvguid11
tutorial/tvguid12
tutorial/tvguid13
tutorial/tvguid14
tutorial/tvguid15
tutorial/tvguid16
tutorial/tvlife
tutorial/validator
tvhc/tvhc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
